
<div id="virtualclassAppLeftPanel" class="leftbar hideZoom" data-surname="{{meetingMode}}">

  {{#if hasControls}}
    {{#if meetingMode}}
      {{> appToolsMeeting }}
    {{else}}
      {{> appTools }}
    {{/if}}

  {{/if}}
  <div id="virtualclassAppContainer">
    <div id="dashboardContainer" class="bootstrap"> </div>
    <div id="virtualclassWhiteboard" class="virtualclass whiteboard" style="display:none;">
      <div class="whiteboardContainer"> </div>

    {{#if hasControls}}
      <span class="nvgt prev"></span>
      <span class="nvgt next"></span>
    {{/if}}

    </div>
  </div>
  <div id="sidebarButton">
    <span class="congtooltip sidebarButton" data-title="Move Rightbar" ><i class="icon-sidebarButton cgIcon"></i></span>
  </div>
  <div id="leftbarFooter">
    <div id="stickybar" class="maximize something-happend">
      <div id="tabs" class="tabs-bottom ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
        role="tablist"></ul>
      </div>
    </div>
  </div>
  <a id="congrealogo" href="https://www.congrea.com" target="_blank">
  <img src="https://cdn.congrea.net/resources/images/congrea_logo.svg">
  </a>

</div>
