<div class="mobileWarning">
    <div class="warningWrapper">
        <span class="icon-mobileRotate"></span>
        <p class="warning-message">Please turn your device to Landscape mode</p>
    </div>
</div>